body{
    background-color: #f4f4f4;
}
.top{
    display: flex;
    justify-content: space-between;
    margin: 00% 1% 0% 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
    padding: 10px;
    background-color: #ffffff;
}
.top>a>i{
    font-size: 30px;
    color:black;
}
.select{
    border: none;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.719);
    margin-right: 150px ;
}
.top1{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.top1>a{
    padding: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    font-weight: 700;
}
.top1>a:hover{
    border-top: 2px solid aqua;
}
.pos1{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #f4f4f4;
}
.grid1{
    padding: 40% 2% 0% 0%;
    text-align: right;
    font-size: 50px;
    font-weight: 700;
}
.p1{
    text-align: center;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.712)
}
.p2{
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.705);
}
.sp2{
    font-size: 17px;
    color: black;
}
.clip{
    display: grid;
    grid-template-columns: 240px 240px 240px 260px;
    grid-template-rows: 320px 320px ;
    justify-content: center;

}
.gi{
    background-color:#ffffff;
    padding: 10px;
    border-radius: 50px;
    margin: 20px;
}
.img1{
    grid-column: 1/span 3;
    padding-left: 80px ;
}
.img1>video{
    width: 560px;
    height: auto;
}
.img2{
    grid-column: 4;
    grid-row: 1/span 2;
}
.img2>video{
    width: 220px;
    height: 560px;
}
.img3>img{
    width: 160px;
    padding: 8%;
}
.img4>img{
    width: 160px;
    padding: 8%;
}
.img5>img{
    width: 160px;
    padding: 8%;
}
.youtube{
    display: flex;
    width: 1050px;
    justify-content:space-between;
}
.video1{
    display:flex;
    background-color: #ffffff;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
}
.video2{
    display: flex;
    background-color: #ffffff;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
}
.video3{
    display:flex;
    background-color: #ffffff;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
}
.paragraph{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
}